body {
    color: black;
    text-align: center;
    background-color: #F5E2EA;
    font-family: 'Outfit', sans-serif;
}

.logo {
    margin-top: auto;
    padding: 5px;
}

a {
    text-decoration: none;
}
.website {
    position:absolute;
    background-color: #FFFFFF;
    border: 10px solid black;
    border-radius: 25px;
    margin-top: auto;
    padding: 1%;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.467);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}


.twitter {
    max-width: 10%;
    min-width: 100px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.youtube {
    max-width: 10%;
    min-width: 100px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.mastodon {
    max-width: 10%;
    min-width: 100px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.tumblr {
    max-width: 10%;
    min-width: 100px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.deviantart {
    max-width: 10%;
    min-width: 100px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.youtube:hover {
    border: 10px solid red;
    border-radius: 25px;
    background-color: red;
    color: white;
}

.youtube:active {
    border: 10px solid rgb(133, 0, 0);
    border-radius: 25px;
    background-color: rgb(133, 0, 0);
    color: rgb(178, 178, 178);
}

.deviantart:hover {
    border: 10px solid #05CC47;
    border-radius: 25px;
    background-color: #05CC47;
    color: black;
}

.deviantart:active {
    border: 10px solid #0c7f3a;
    border-radius: 25px;
    background-color: #0c7f3a;
    color: black;
}

.mastodon:hover {
    border: 10px solid #5B4BE1;
    border-radius: 25px;
    background-color: #5B4BE1;
    color: white;
}

.mastodon:active {
    border: 10px solid #382d9b;
    border-radius: 25px;
    background-color: #382d9b;
    color: rgb(178, 178, 178);
}

.tumblr:hover {
    border: 10px solid #001232;
    border-radius: 25px;
    background-color: #001232;
    color: white;
}

.tumblr:active {
    border: 10px solid #0c7f3a;
    border-radius: 25px;
    background-color: #0c7f3a;
    color: rgb(178, 178, 178);
}

.twitter:hover {
    border: 10px solid #1D9BF0;
    border-radius: 25px;
    background-color: #1D9BF0;
    color: black;
}

.twitter:active {
    border: 10px solid #1066a0;
    border-radius: 25px;
    background-color: #1066a0;
    color: black;
}