body {
    color: black;
    text-align: center;
    background-color: #F5E2EA;
    font-family: 'Outfit', sans-serif;   
    image-rendering: -webkit-optimize-contrast;
}

img {
    max-width: 70%;
    min-width: 40vh;
    height: auto;
    width: auto;
}
.logo {
    background-color: #FFFFFF;
    border: 10px solid black;
    border-radius: 25px;
    margin-top: auto;
    padding: 1%;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.467);
}

.social {
    padding: 2px;
    display: inline-block;
}

a {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #B48095
}

a:hover {
    color:#cc93aa
}

a:active {
    color:#6f4b59
}

.tab-content, .tab-content:target ~ #home  {
    display: none;
  }
#home, .tab-content:target, [id*='picture']:target ~ #art {
    display: block;
  }

.song {
    padding: 5px;
    display: inline-block;
    min-width: 200px;
 }

.picture {
    padding: 5px;
    display: inline-block;
    min-width: 100px;
 }

#player {
    width: 50%;
 }

.imgpage {
    padding: 5px;
    display: inline-block;
    min-width: 200px;
}


.backbutton {
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.backbutton:hover {
    border: 10px solid rgb(89, 89, 89);
    border-radius: 25px;
    background-color: rgb(89, 89, 89);
    color: white;
}

.backbutton:active {
    border: 10px solid black;
    border-radius: 25px;
    background-color: black;
    color: rgb(178, 178, 178);
}

#menu a {
    color: #B48095;
    font-weight: bold;
}

#menu a:hover {
    color: #C8A8B5;
}

#menu a:active {
    color: #733A52;
}